* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    position: relative;
    width: 210px;
    margin-top: 150px;
    margin-left: 150px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 20px;
    text-align: center;

}

.tooltip__container {
    position: absolute;
    display: none;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

.tooltip__active {
    display: block;
}

.tooltip-title {
    height: 25px;
    font-size: 16px;
    background: rgb(221, 219, 217);
}

.tooltip-text {
    font-size: 14px;
}